#logo {
	width:150px;
}

#title {
	font-size:60px;
	padding-left:30px;
}

span {
	display: inline-table;
	vertical-align: middle;
}

body {
	background-color: #F4DECB;	
	font-family: Arial;
}

.header {
	border: 1px solid gray;
	border-radius: 15px;
	background-color: #F8EEE7;
	margin:0;
}

.main {
	margin:0;
	border: 1px solid gray;
	border-radius: 15px;
	background-color: white;
}

.btn {
	padding-top:10px;
	margin:5px;
	border: 1px solid grey;
	border-radius:15px;
	background-color:#720F8F;
	width: 180px;
	height:30px;
	text-align:center;
}

a {
	text-decoration:none;
	color:white;
	font-size:18px;
}

#exit {
	margin-left:auto;
	width:140px;
}

#view1 {
	width: 180px;
}

#view2 {
	width: 200px;
}

select {
	width: 200px;
	background-color:#F8EEE7;
	font-size:14px;
	border-radius:5px;
}

#fileToUploadName {
	background-color:#F8EEE7;
	font-size:14px;
	border-radius:5px;
	border: 1px solid grey;
	width: 300px;
	height:30px;
	padding-left:10px;
}

select:checked {
	background-color:#720F8F;
	color:white;
}

#buttons {
	display:flex;
	align-items: flex-start;
}

form {
	padding:30px;
}

div {
	margin:20px;
}

input.btn {
	color:white;
	font-size:18px;
	padding-bottom:30px;
	margin:0;
}

#add {
	background-color:#720F8F;
    border: none;
    color: white;
	border-radius: 5px;
	margin:10px;
    font-size: 16px;
	width:20px;
	height:15px;
	text-align:center;
}

#inputs {
	margin:0;
	padding:0;
}