#logo {
	width:150px;
}

#title {
	font-size:60px;
	padding-left:30px;
}

span {
	display: inline-table;
	vertical-align: middle;
}

body {
	background-color: #F4DECB;	
	font-family: Arial;
}

.header {
	border: 1px solid gray;
	border-radius: 15px;
	background-color: #F8EEE7;
}

.form_holder {
	margin-top:40px;
	border:1px solid grey;
	padding:20px;
	width:300px;
	margin-left: auto;
	margin-right:auto;
	border-radius:15px;
	background-color: white;
}

.nav-btn {
	text-decoration:none;
	color:white;
	font-size:18px;
	padding-top:10px;
	margin:5px;
	border: 1px solid grey;
	border-radius:15px;
	background-color:#720F8F;
	width: 180px;
	height:30px;
	text-align:center;
}

.btn {
	color: white;
	font-size:18px;
    padding: 10px;
    margin:10px 15px 3px 15px;
	border: 1px solid grey;
	border-radius:15px;
	background-color:#720F8F;
	width: 180px;
}

a {
	text-decoration:none;
	color:white;
	font-size:18px;
}

h4 {
	margin:10px;
}

input {
	margin:5px;
	width: 250px;
	height:30px;
	background-color:#F8EEE7;
	border:1px solid grey;
	border-radius:5px;
}

h1 {
	margin-bottom:30px;
}

#buttons {
	display:flex;
	align-items: flex-start;
}


#exit {
	margin-left:auto;
	width:140px;
}

#view1 {
	width: 180px;
}

#view2 {
	width: 200px;
}

.error {
	width: 250px;
	color:white;
	background-color: rgba(114, 15, 143, 0.5);
	border-radius:5px;
}
